* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: left;
  font-family: sans-serif;
  color: #000;
  background: #999999;
}

.wv-container {
  z-index: 2;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-size: 17px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

webview {
  display: flex;
  width: 100%;
  height: auto;
}